<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px">class</mat-icon>
  <span>Super Form Infini</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<h1>Formulaire qui sert à rien</h1>
<mat-card style="width: 700px; margin: auto; padding: 20px;">
  <form [formGroup]="form">

    <mat-form-field style="width: 100%">
      <input matInput type="text" placeholder="Nom et prénom" formControlName="name" name="name">

      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Votre nom est <strong>requis</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput type="number" placeholder="5230" formControlName="numRue" name="roadnumber">

      <mat-error *ngIf="form.get('numRue')?.hasError('required')">
        Votre numero de rue est <strong>requis</strong>
      </mat-error>

      <mat-error *ngIf="form.get('numRue')?.hasError('numValidator')">
        Votre numero de rue n'est pas valide
      </mat-error>

    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput type="text" placeholder="Resther" name="rue">

    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput type="text" placeholder="H2J8B2" formControlName="codePostal" name="postalcode">

      <mat-error *ngIf="form.get('codePostal')?.hasError('pattern')">
        Votre code postal n'est pas valide
      </mat-error>

    </mat-form-field>

    <mat-form-field style="width: 100%">
      <textarea matInput placeholder="Votre commentaire" formControlName="commentaire" name="comments"></textarea>

      <mat-error *ngIf="form.get('commentaire')?.hasError('commentValidator')">
        Votre commentaire ne contient pas assez de mots (minimum 10)
      </mat-error>

    </mat-form-field>

    <mat-error *ngIf="form.hasError('nameInComment')">
      Le commentaire ne doit pas mentionner le nom de l'utilisateur.
    </mat-error>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Acheter</button>
    </mat-card-actions>
  </form>
</mat-card>